module.exports = {
  apps: [
    {
      name: "salonspa",
      script: ".output/server/index.mjs",
      cwd: "/var/www/salonspa_app_v2",
      instances: 1,
      exec_mode: "fork",
      env: {
        NODE_ENV: "production",
        HOST: "0.0.0.0",
        PORT: 3000,
        NITRO_PORT: 3000,
        NUXT_API_BASE: "https://api.tu-dominio.com",
        NUXT_PASSPORT_CLIENT_ID: "",
        NUXT_PASSPORT_CLIENT_SECRET: "",
      },
    },
  ],
}
